:root {
   // indents
  --indent: 1rem;
  --indent-half: 0.5rem;
  --indent-base: 1rem 2rem;

  // colors
  --c-green: #08B985;
  --c-green-darker: #003d3d;

  --c-white: #fff;
  --c-white-darker: #F2F2F2;

  --c-black: #000;
  --c-black-lighter: #171717;

  --c-gray: #333;
  --c-gray-light: #4f4f4f;
  --c-gray-lighter: #828282;
  --c-gray-lightest: #bdbdbd;
  // button colors
  --c-gray-disabled: #F8F8F8;
  --c-gray-disabled-text: #ACACAC;

  // text sizes
  --fz-h1: 6rem; // 72px
  --fz-h2: 4rem; //48px
  --fz-h3: 2rem; // 24px
  --fz-accent: 1.5rem; // 18px
  --fz-base: 1.35rem; // 16px

  // border-radius
  --radius-button: 4px;

  // screens
  --screen-desk: 1440px;
  --screen-tablet: 768px;
  --screen-mob: 320px;

  // addons
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}
